<script src="vue.js"></script>

<html>
    <body>

   <div>





<template id="card">
  <div class="section">
    <div class="title" v-on:click="toggle">
      <span class="toggleIcon" id="toggleIcon">{{toggleIcon}}</span> <span class="toggleName id="toggleName >{{toggleName}} Toggle </span>
    </div>
    <div class="body" v-show="showSection">
      <slot></slot>
      <br/>
    </div>
  </div>
</template>

<div id="app">

<card toggle-name='Clicker app'>
  <button @click.prevent="counter +=1">Add 1</button>
<p> The button has been clicked {{counter}} times. </p>
</card>

  <card toggle-name='Greet User'>
    <button v-on:click="greet">Greet</button>


  </card>
<card toggle-name='METHODS IN LINE HANDLER'>
    <button v-on:click="say('hi')">Say hi</button>
    <button v-on:click="say('what')">Say what</button>
    <button v-on:click="warn('Form cannot be submitted yet.', $event)">
      Submit
    </button>

</card>


<card toggle-name='v-model'>
    <input v-model="message" placeholder="edit me">
    <p>Message is: {{ message }}</p>
  </card>

  <card toggle-name='Multiple Checks'>

          <input type="checkbox" id="checkbox" v-model="checked">
      <label for="checkbox">{{ checked }}</label>

      <h1>Multiple checkbox bound to same array</h1>
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
      <label for="mike">Mike</label>
      <br>
      <span>Checked names: {{ checkedNames }}</span>
  </card>
  <card toggle-name='Radio Button'>
    <h1>Radio button</h1>
    <input type='radio' id='one' value='One' v-model='picked'>
    <label for="one" >One</label>
    <input type='radio' id='two' value='Two' v-model='picked'>
    <label for="two" >Two</label>
    
    <br>
    <label>Radio output : {{picked}}</label>
  </card>
  <card toggle-name='Select Button'>
    <select v-model="selected">
      <option disabled value="">Please select one</option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
    </select>
  </br>
    <span>Selected: {{ selected }}</span>

  </card>
    <card toggle-name='Dynamic V For select'>

      <select v-model="selected1">
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
      <span>Selected: {{ selected1 }}</span>
    </span>
  </card> 
</div>



<!--Closing div-->
</div>
    </body>
</html>
<script type="application/javascript" src="index.js"></script>

